.filter {
  display: flex;
  flex-direction: column; /* Ustawia elementy w kolumnie */
  align-items: flex-start;
  margin-bottom: 1rem;
}

.filter label {
  margin-bottom: 0.5rem; /* Dodaje odstęp między label a input */
}

.filter input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid slategray;
  border-radius: 4px;
}
